.dynamic {
  position: relative;
}

.show-file-name {
  display: none;
}

.show-file-name span {
  position: absolute;
  top: 0;
  display: flex;
  /* display: none; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .25);
  color: white;
  font-size: 3rem;
}

.show-file-name.active {
  display: flex;
}