.linhas {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin: 10px 0;
}

.vermelho-bg {
    background: red;
}

.verde {
    color: green;
}

.azul {
    color: blue;
}

.margin {
    height: 1rem;
}

body {
    background: #111;
}
* {
    color: #f4f4f4;
}